# --------------------------------------
# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-*
.packages
.pub/
.pub-cache/
build/
.melos_tool/

# Symbolication related
app.*.symbols
app.*.map.json

# Generated plugin registrant (web)
web/generated_plugin_registrant.dart

# Firebase (opcional, según si lo usás)
firebase_options.dart

# --------------------------------------
# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Flutter.podspec
ios/.dart_tool/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.generated/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# --------------------------------------
# Android
.android/
android/.gradle/
android/app/build/
android/captures/
android/gradle/

# --------------------------------------
# Web
build/web/

# --------------------------------------
# VS Code / JetBrains / Xcode / Misc
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/
